.summary {
  padding: 24px 16px 48px;
}

h2 {
  text-align: center;
  font-size: 18pt;
}

.top {
  margin-top: 16px;
}

.s_ul {
  padding: 0px 40px;
  margin-top: 12px;
  display: flex;
  flex-wrap: nowrap;
}

.s_li {
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding: 24px 16px;
  list-style: none;
}

.text {
  width: 50%;
  height: 50%;
  text-align: center;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_size {
  width: 300px;
  height: auto;
}

