.summary {
  padding: 24px 16px 48px;
}

h2 {
  text-align: center;
  font-size: 18pt;
}

.top {
  margin-top: 16px;
}

.s_ul {
  padding: 0px 40px;
  margin-top: 12px;
  display: flex;
  flex-wrap: nowrap;
}

.s_li {
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding: 24px 16px;
  list-style: none;
}

.text {
  width: 50%;
  height: 50%;
  text-align: center;
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_size {
  width: 300px;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: black;
}

h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
  color: #999;
}

div.wrap {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

div.wrap div {
  position: relative;
  margin: 40px 0;
}

label {
  position: absolute;
  top: 0;
  font-size: 20px;
  margin: 10px;
  padding: 0 10px;
  background-color: black;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.active {
  top: -25px;
  font-size: 20px;
}

input[type=text] {
  width: 80%;
  padding: 10px;
  border: 1px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

input[type=password] {
  width: 80%;
  padding: 10px;
  border: 1px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

.btn-flat-border {
  width: 80%;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #4169E1;
  background-color: #4169E1;
  border-radius: 3px;
  transition: 0.4s;
}

.btn-flat-border:hover {
  background-color: #B0C4DE;
  border-color: #B0C4DE;
  color: black;
}

.click-down {
  width: 50px;
  transition: 0.2s;
  border-radius: 0px;
}

.click-down:active {
  transform: translateY(2px);
}

/*Checkboxes styles*/

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=checkbox] + label:last-child {
  margin-bottom: 0;
}

input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  transition: all 0.12s, border-color 0.08s;
}

input[type=checkbox]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

