
.summary {
  padding:24px 16px 48px;
}


.hit-the-search {
  color: #fff;
  font-size: 2em;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    // 0 3px 0 #bbb,
    // 0 4px 0 #b9b9b9,
    // 0 5px 0 #aaa,
    // 0 6px 1px rgba(0,0,0,.1),
    // 0 0 5px rgba(0,0,0,.1),
    // 0 1px 3px rgba(0,0,0,.3),
    // 0 3px 5px rgba(0,0,0,.2),
    // 0 5px 10px rgba(0,0,0,.25),
    // 0 10px 10px rgba(0,0,0,.2),
    // 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-search {
  text-align: center;
}

.top {
margin-top:  16px;
}

.s_ul {
    padding: 0px 40px;
    border-top: 1px solid #ccc;
    margin-top: 12px;
    display: flex;
    flex-wrap: nowrap;
  }

.s_li{
  width: 100%;
  padding: 24px 16px;
  list-style: none;
}

.text {
  width: 50%;
  height: 50%;
  text-align: center;
  color: red;
}

.container {
  display:  flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-size: 24px;
  font-weight: bold;
  font-family: Helvetica
}

.img_size{
  position: relative;
  top: 20px;
  width: 300px;
  height: auto;
}

body {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;
}
h1 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 0px;
  padding: 0px;
  color: #999;
}

div.wrap {
  width: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

div.wrap div {
  position: relative;
  margin: 40px 0;
}


label {
  position: absolute;
  top: 0;
  font-size: 20px;
  margin: 10px;
  padding: 0 10px;
  background-color: black;
  -webkit-transition: top .2s ease-in-out,
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out,
              font-size .2s ease-in-out;
}

label2 {
  position: relative;
  top: 10px;
  font-size: 20px;
  padding: 0 10px;
  background-color: black;
  -webkit-transition: top .2s ease-in-out,
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out,
              font-size .2s ease-in-out;
}

label3 {
  position: absolute;
  top: 0px;
  font-size: 20px;
  padding: 0 10px;
  background-color: black;
  -webkit-transition: top .2s ease-in-out,
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out,
              font-size .2s ease-in-out;
}

.active {
  top: -25px;
  font-size: 20px;
}

input[type=text] {
  width: 80%;
  padding: 7px;
  border: 1px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

input[type=password] {
  width: 80%;
  padding: 10px;
  border: 1px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

.btn-flat-border {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px #4169E1;
  background-color: #4169E1;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background-color: #B0C4DE;
  border-color: #B0C4DE;
  color: black;
}

.click-down {
  width: 50px;
  transition: 0.2s;
  border-radius: 0px;
}

.click-down:active {
  transform: translateY(2px);
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.center {
  width: 400px;
  position: absolute;
  display: block;
  top: 70%; left: 40%; right: 40%;
  transform: translate(-50%, -50%);
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
      position: relative;
      display: block;
      width: 130px;
      padding: 0 84px 0 22px;
      font-size: 22px;
      font-weight: 300;
      color: #fff;
      line-height: 60px;
      background: #5c9cd8;
      border-radius: 4px;
      cursor: pointer;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }
